In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import r2_score

url='https://raw.githubusercontent.com/jinnatul/ml-Pro/master/data/data-tax-gnp-bd.csv?token=AHUDKE4OW4UGW6GAGA2UXI267YT7E'
df = pd.read_csv(url)
df.head()

   YEAR      GDP  POPULATION     TAX
0  1980  1499.68      82.498  19.400
1  1981  1583.50      84.764  22.500
2  1982  1634.27      87.061  24.400
3  1983  1709.60      89.400  27.000
4  1984  1781.02      91.804  32.265